<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
      <section-admin-example>
              <display-text>Default value</display-text>
      </section-admin-example>
  </default>
</config>
