
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Mageplaza\HelloWorld\Controller\Index\Example">
        <plugin name="Plugin_Example" type="Learning\ClothingMaterial\Plugin\PLuginExample" sortOrder="10" disabled="false"  />
    </type>
</config>
